<article class="post container block is-rounded">
  <div class="block has-background-dark post-title-header">
    <h2 class="post-title has-text-grey-lighter">
      <a href="/post/{{id}}">
        {{title}}
      </a>
    </h2>
    <p class="meta has-text-grey-lighter">
      Posted by
      {{user.username}}
      on
      {{format_date created_at}}
    </p>
  </div>
  <div>
    <p class="content is-vcentered post-content">{{content}}</p>
  </div>
</article>